:root{

}

.header{
    background: gray;
}

.header_nav{
    max-width: 1400px;
    width: 90%;
    height: 5.5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header_nav--redes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header_nav--redes li{
    list-style: none;
    margin: 0 1.5rem 0 1.5rem;
    cursor: pointer;
}

.header_nav--redes li a{
    text-decoration: none;
}

.header_nav--redes li a i{
    font-size: 24px;
    transition: .3s;
}

.header_nav--redes li a i:hover{
    font-size: 28px;
    transition: .3s;
}

.header_nav--carro{
    width: 2.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}

.header_nav--carro i{
    font-size: 22px;
    color: black;
}

.carro_registro{
    background: #fff;
    width: 22rem;
    position: absolute;
    right: 0;
    bottom: -30px;
    border: 1px solid;
}


.carro h1{
    text-align: center;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 0 0rem 0 0rem;
}

.gallery > div{
    width: 33.333%;
}

.container{
    text-align: center;
}
/*
.header_nav--carro i:hover{
    color: grey;
}
*/
